body{
background-color: black;
margin: 0 auto;
font-family: Helvetica;
width: 1170px;
}
header.container{
    background-color: black;
    margin-top: 10%;
    height: 200px;

}
.bio img{
    visibility: hidden;
    
    
}
.about,a{
    text-decoration: none;
    color:aliceblue;
    width: 7.2%;
    
}
.about:hover {
    background-color: red;
    
}
.about{
    float: left;
}
.logo img{
    margin-top: 35px;
    width: 50px;
}
.logo{
    width: 80px;
    float: left;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border:1px #fff;
    gap: 20px;
    
  }
.wrapper div{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.box2{
    grid-column: span 1;
}
.footer img{
    width: 250px;
    height: 250px;
    float: right;
}
.Lorem{
    color: rgb(255, 255, 255);
    font : italic 14px Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
 }
.burger img {width: 50px;}
@media only screen and (min-width: 1025px)  {
    .burger img {width: 0px;}
}
 @media only screen and (min-width: 600px) and (max-width: 1024px) {
    .wrapper { grid-template-columns: 1fr 1fr; }
    .container{ width: 100%; }
    .about{color: black;}
    .logo{
        width: unset;
        float: none;
        
    }
    .logo img{
        background-color: black;
    }
  }
  @media only screen and (max-width: 599px) {
    .wrapper { grid-template-columns: 1fr; }
    .container{ width: 90%; }
    .Lorem { padding-top: 50px;
    }
    .about{color: black;}
    .logo{
        width: unset;
        float: none;
        
    }
    .logo img{
        background-color: black;
    }
    .burger img {width: 30px;}
  }
  
  
