body{
background-color: black;
margin: 0 auto;
font-family: Helvetica;
}
header.container{
    background-color: black;
    margin-top: 10%;
    height: 200px;
}
.about,a{
    text-decoration: none;
    color:aliceblue;
    width: 7.2%;
    
}
.about:hover {
    background-color: red;
    
}
.about{
    float: left;
}
.logo img{
    width: 50px;
}
.logo{
    width: 80px;
    float: left;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border:1px #fff;
    gap: 20px;
  }
.wrapper div{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.box2{
    grid-column: span 1;
}
.footer img{
    width: 250px;
    height: 250px;
    float: right;
}
